html a[title="Discord"].md-social__link svg {
    color: #7289DA;
}

html a[title="Youtube"].md-social__link svg {
    color: #FF0000;
}

html a[title="Facebook"].md-social__link svg {
    color: #4267B2;
}

img[alt*=screenshot] {
    width: 350px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}